:root{
    --color1:#040404;
    --color2:#242543;
    --color3:#7E8AAC;
    --color4:#C5E7F0;
    --color5:#FFFFFF;
    --transparent1:rgba(36, 37, 67, 0.6); 
    --transparent2:rgba(4, 4, 4, 0.8); /*not used*/
}
    /* Style global de la page */
body{
    margin: 0;
    background-image:url("./fansite1/images/Mix_logo-accueil.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    /*display: flex;*/
    align-items: center;
    min-height: 100vh;
}
.index_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
/*-------------------------------------------------------------------*/
/* DEBUT FOOTER */
/* Conteneur footer */
.footer-nav{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:auto;
    background-color:var(--color1);
    color: var(--color2);
    align-items: baseline;
}

.column{
  /*  border: 1px solid red;*/
    padding: 25px;
}
.footer-github{
    background-color: var(--color2);
    height: 17%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
footer a{
    color: var(--color3);
    text-decoration: none;
}
footer a:hover{
    color: var(--color2);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.pic-size{
    max-width: 25px;
}
/* fin footer */
/*-------------------------------------------------------------------*/
/* BURGER + NAV BAR */

* {
  padding : 0;
  margin : 0;
  box-sizing: border-box;
}

a {
  color: white; 
  text-decoration: none;
}

/* root selectionne l'élément racine du document, ici <html>
c'est ici qu'on déclare les variables CSS */
:root {
  --burger_bar_width : 45px ;
  --burger_bar_height : 6px ;
  --burger_gap : 6px ;
  --burger_background_color : rgba(255, 255, 255, 1) ; 
  --burger_slider_color : rgba(0, 0, 0, 0.9) ; 
  /* ease-in-out : début et fin rapide */
  --burger_animation_time : 300ms ease-in-out ;
  --hamburger_margin : 10px ; 

  /* on calcule la hauteur de l'élement en entier pour déterminer la longueur
  finale des barres quand elles se transforment en croix */
  --hamburger_menu_height : calc(var(--burger_bar_height) * 3 + (var(--burger_gap) * 2)) ;
}

.hamburger_menu {
  display: flex ;
  flex-direction : column ;
  gap : var(--burger_gap) ; 
  width: max-content ; /* la largeur clickable n'est que celle sous les barres */

  /* ne bouge pas en scrollant, fixé en haut a droite */
  position : fixed ; 
  top : var(--hamburger_margin) ;
  right : calc(var(--hamburger_margin) * 2) ;

  z-index: 100; /* supérieur à 0 donc apparait toujours en avant */

  cursor : pointer ; 

  /* calcul de la largeur de la croix après transformation : 
  hauteur du menu x racine carrée de 2 */
  --cross-width : calc(var(--hamburger_menu_height) * 1.414213);
}

/* les trois barres du burger seront la checkbox, 
un élément avant, un élément après */
.hamburger_menu::before,
.hamburger_menu::after,
.hamburger_menu input {
  content: "" ;
  width : var(--burger_bar_width) ;
  height : var(--burger_bar_height) ; 
  background-color: var(--burger_background_color) ;
  border-radius : 999px ; 

  transition : opacity var(--burger_animation_time), width var(--burger_animation_time), 
  rotate var(--burger_animation_time), translate var(--burger_animation_time) ;
  
  /* transition des deux lignes en croix :  
  la rotation se fait atour du bon point*/
  transform-origin: right center;
}

.hamburger_menu input {
  /* on ne veut pas interagir avec la checkbox 
  mais avec tout son conteneur (les 3 barres) */
  appearance: none ;
  outline : none ;
  pointer-events: none ; 
}

.hamburger_menu input:checked {
  /* la barre du milieu disparait pour faire la croix */
  opacity : 0 ;
  width : 0 ; 
}

/* si le hamburger menu a son input checked, alors agit sur 
::before et ::after càd les barres du haut/bas*/
.hamburger_menu:has(input:checked)::before {
  rotate: -45deg ;
  width: var(--cross-width);
  /* on décale legerement les barres pour tenir compte de leur épaisseur
  on décale l'abcisse de 0, l'ordonnée de la moitié de l'épaisseur */
  translate : 0 calc(var(--burger_bar_height) / -2) ;
}
.hamburger_menu:has(input:checked)::after {
  rotate: 45deg ;
  width: var(--cross-width);
  translate : 0 calc(var(--burger_bar_height) / 2) ;
}

.sidebar_container {
  display: flex;
  justify-content: flex-end;
}

.sidebar {
  transition: translate var(--burger_animation_time);
  translate: 100%;
  padding: 1rem 1.5rem;
  padding-top: calc(var(--hamburger_menu_height) + var(--hamburger_margin) + 0.5rem);
  background-color: var(--burger_slider_color);
  color: var(--burger_background_color);
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  z-index: 99;
}

.hamburger_menu:has(input:checked) ~ .sidebar_container .sidebar {translate: 0;}

.burger_links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-left: 1.5rem;
}

.burger_links a {
  font-size: 1.1rem;
  padding: 0.1rem 0;
  text-decoration: none;
  color: inherit;
}

.burger_link_home {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #C5E7F0 ;
}

.burger_links a:hover {color : #C5E7F0;}
/*fin burger menu*/
/*-------------------------------------------------------------------*/
/* NAV BAR DESKTOP */
.desktop_nav_bar {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 0 15px;
}

.desktop_nav_bar img {
  height: 15vh;
  border-radius: 999px;
  margin-right: 20px;
}

.buttons_box {
  display: flex;
  gap: 15px;
}

.dropdown {position: relative;}

.dropdown_button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 10px 20px;
  margin-right : 40px ;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 5px;
}

.dropdown_button:hover {background-color: rgba(255, 255, 255, 0.05);}

.dropdown_content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown_content a {
  font-size: 1.2rem ;
  padding: 18px 20px;
  display: block;
}

.dropdown_content a:hover {
  color : #75dcf8;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown:hover .dropdown_content {display: block;}

@media screen and (max-width: 799px) {
  .desktop_nav_bar {display: none ;}
}

@media screen and (min-width: 800px) and (max-width: 1279px) {
  .desktop_nav_bar {display: none ;}
  .sidebar {width: 45vw;}
  .burger_links a {font-size: 18px;}
}

@media screen and (min-width: 1280px) {
  .hamburger_menu {display: none;}
  .sidebar {display : none ;}
  .banner_box {display : none ;}
}

/* Fin nav bar desktop */
/*-------------------------------------------------------------------*/
/*DEBUT CARROUSEL*/

/* Conteneur du slider */
.slider{width: 100%;}
/* Cacher les inputs */
.slider input{display: none;}

/* Conteneur des .carrousel items*/
.carrousel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 440px;
    perspective: 1000px;
    overflow:hidden;
    margin-bottom: 30px;
}
/* Style des slides */
.carrousel .item {
    width: 300px;
    /*padding: 30px;*/
    border-radius: 30px;
    background-color: #21262d;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.4s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    user-select: none;
    cursor: pointer;
}
.item p{
    align-items: center;
    justify-content: center;
    justify-self: center;
}
/* Style des titres interieurs des slides */
.carrousel .item img{border-radius: 30px;}
/*.carrousel .item {
    background-size: cover;
    background-position: center;
    object-fit: cover;
}*/
.carrousel .item img{
    width: 100%;
    height: fit-content;
}

/* Position des points */
.dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Style des points */
.dots label{
    
    width: 5px;
    height: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;
    margin: 7px;
    transition-duration: 0.2s;
}
/* Style et positionnement des slides en fonction du point selectionné */
#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"]{
    transform: scale(2);
    background-color: #fff;
    box-shadow: 0px 0px 0px 3px #dddddd24;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"]{
    transform: scale(1.5);
}

#t-1:checked ~ .carrousel label[for="t-2"],
#t-2:checked ~ .carrousel label[for="t-3"],
#t-3:checked ~ .carrousel label[for="t-1"]{   
    transform: translate3d(325px, 0, -90px) rotateY(-15deg);
    z-index:3;
}

#t-2:checked ~ .carrousel label[for="t-1"],
#t-3:checked ~ .carrousel label[for="t-2"],
#t-1:checked ~ .carrousel label[for="t-3"] {
    transform: translate3d(-325px, 0, -90px) rotateY(15deg);
    z-index: 3;
}

#t-1:checked ~ .carrousel label[for="t-1"],
#t-2:checked ~ .carrousel label[for="t-2"],
#t-3:checked ~ .carrousel label[for="t-3"]{
  z-index: 4;
}

/*FIN CARROUSEL*/

/*FORMULAIRE DE CONTACT*/

/* .whole_contact_page {
  background-image: url(fansite3/pictures/fond_acceuil.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  border-radius: 8px;
  /* gap : 20px ; */
}

.form-section, .info-section {
  /* flex : 1= peut grow 1=peut shrink 
  370px = taille de base avant grow ou shrink */
  flex: 1 1 370px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  margin : 20px 0px ;
  
  
}

.form-section h2, .info-section h2 {
  margin-bottom: 20px;
  color: #C5E7F0;
}

form input, form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #7E8AAC;
}

form input::placeholder, form textarea::placeholder {
  color : black ;
}

form button {
  background-color: #242543;
  color: white;
  border: none;
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #3c3e87;
}

.info-section p {
  margin-bottom: 12px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
      
  }

  .form-section, .info-section {
    flex: none;        
    width: 100%;        
    margin: 0 ;  
    height : auto ;
    
  }

}




/*FIN FORMULAIRE DE CONTACT*/
