/*phone*/
/*color for light mode*/
:root{
    --color1:#040404;
    --color2:#DFCA9D;
    --color3:#E7E1CB;
    --color4:#343432;
    --color5:#888B92;
    --transparent1:rgba(52, 52, 50, 0.6); 
    --transparent2:rgba(4, 4, 4, 0.8);
}
@font-face {
    font-family: "playfair-display";
    src: url(./fonts/playfair-display/PlayfairDisplay-Regular.ttf); 
}
@font-face{
    font-family: "montserrat";
    src: url(./fonts/montserrat/Montserrat-Regular.ttf);
}
/*change colors on dark mode*/
:has(#dark-mode-toggle:checked){
    --color1:#242543;
    --color2:#7E8AAC;
    --color5:#E7E1CB;
    --color4:#040404; 
    --color3:#C5E7F0;
    --transparent1:rgba(52, 52, 50, 0.6); 
    --transparent2:rgba(36, 37, 67, 0.8);
        }
.logo-dark-mode{
    align-self: baseline;
    color: var(--color2);
    font-size:x-large;

}
#dark-mode-toggle{
    display: none;
}
/*body*/
body{
    background-image:url(https://static.wixstatic.com/media/52610a_549edd34a6334553b74ade3490813210~mv2.webp/v1/fill/w_1615,h_734,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/52610a_549edd34a6334553b74ade3490813210~mv2.webp);
    background-attachment: fixed;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    margin: 0;
}
h1{
    color: var(--color2);
    font-family: "playfair-display";
    padding-bottom: 20px;
}
.h2-left{
    color: var(--color2);
    font-family:"playfair-display";
}
.h2-centered{
    align-self: center;
    color: var(--color2);
    font-family:"playfair-display";
}
p,details,summary{
    padding-left: 20px;
    color: var(--color3);
    font-family: "montserrat";
}
header{
    width:100%;
    height:50px;
    background-color:var(--color1);
    margin: 0;
    border: 1px solid;
    border-color: var(--color2);
    display: flex;
    justify-content: space-between;
} 
.logo-CO{
    width: 200px;
    margin-bottom: 50px;
}
#logo{
    height: 50px;
}
main{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
#summary{
    display: flex;
    flex-direction: column;
    align-self: baseline;
    border: 1px solid var(--color4);
    background-color: var(--transparent1);
    max-width: 200px;
    padding-right: 10px;
}
.link-summary{
    color: var(--color3);
    text-decoration: none;
}
.sumsum{
    display:flex;
    flex-direction: column;
    list-style: none;
}
.block-article{
    display: flex;
    flex-direction: column; 
    background-color: var(--transparent2);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid var(--color2);
    width: 250px;
}
.block-article-full{
    display: flex;
    flex-direction: column; 
    background-color: var(--transparent2);
    margin-bottom: 20px;
    width: 250px;
    border: 1px solid;
    border-color: var(--color2);
}
.block-section{
    display: flex;
    flex-direction: column;
    background-color: var(--transparent1);
}
.img-homepage,p{
    width: 200px;
}
.img-news{
    max-width:400px;
}
hr{
    color:var(--color2);
    height: 1px;
    background-color: var(--color3);
    width: 100%;
    margin-bottom: 25px;
    align-items: start;
}
.music-box{
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
audio{
    margin-top: 15px;
    width: 80%;
    border:1px solid;
    border-color: var(--color2);
    background-color: var(--color3);
}
/*hamburger +nav*/
#hamburger-logo{
    float: right;
    margin-right: 10px;
    cursor:pointer;
    font-size:x-large;
}
.navbar{
    float: right;
    position:sticky;
    color: var(--color2);
}
.link{
  color: var(--color3);
  text-decoration: none;
  padding: 10% 20%;
  font-family: Montserrat;
}
.link:hover{
    color: var(--color2);
    text-decoration: none;
}
#hamburger{
    display: none;
}
.menu {
    display: none;
    flex-direction: column;
    background:var(--transparent1);
    border: 1px solid ;
    overflow: hidden;
    width: 150px;
    margin: 0 5px;
}
.menu-full{
    display: none;
}
#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ .menu {
  display: flex;
}
/*gallery*/
.masonry-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-media{
    width: 100%;
    height: auto;
    padding: 15px;
}
/*footer*/
.footer-menu{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:50px;
    background-color:var(--color1);
    border: 1px solid;
    border-color: var(--color2);
}
.link-footer{
    color: var(--color3);
    text-decoration: none;
}
footer a:hover{
    color: var(--color2);
    text-decoration: none;
}
/*tablet*/
@media (min-width: 426px)   {
    /*body*/
    #summary{
        width: 300px;
    }
   .block-article{
        width:auto;
    }
    .img-homepage,p{
        width: 400px;
    }
    .h2-left{
        padding-right: 25px;
        padding-left: 50px;
    }
    .masonry-display {
        display: block;
        column-count:3;
        column-gap: 30px;
    }
    .audio{
        width:100%;
    }
    .music-box{
        width: 300px;
    }
    .block-article-full{
        width:auto ;
    }
    .img-news{
        align-self:center;
        max-width: 100%;
    }
}
/*laptop*/
@media (min-width: 1024px) {
 /*body*/   
    .block-div-left{
        align-self: start;
    }
    .block-div-right{
        align-self: end;
    }
    .block-article{
        width: auto;
        padding: 0 20px 20px 20px;
        margin-bottom: 25%;
    }
    .block-article-full{
        background-color: var(--color1);
        opacity: 70%;
        padding: 0 20px;
        width: 1000px;
    }
    .img-homepage,p{
        max-width: 400px;
    }
    .img-news,.p-news{
        align-self: center;
    }
    #logo-mobile{ display: none;}
    .text-right{
        display: flex;
        flex-direction: row;
    }
    .text-left{
        display: flex;
        flex-direction: row-reverse;
    }
    h2{
        align-self: center;
    }
    #summary{
        width:25%;
        
    }
/*hambuger + nav*/
    .navbar-inline{
        float: right;
    }
    .menu-full{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height:50px;
        width: fit-content;
    }
    .menu-full>.link{
        color: var(--color3);
        padding: 15px;
    }
    .link{
        padding: 20px;
    }
    #hamburger-logo{
       display: none;
    }
    a:hover{
    cursor: pointer;
    text-decoration: underline;
    }
 /*gallery*/
    .masonry-display {
    column-count:4;
    column-gap: 30px;
    }
    #logo{
        width: 50px;
    }
    .img-media{
        width: 100%;
        height: auto;
        padding: 15px ;
    }
    .music-box{
        align-self: start;
    }

 }
  
