<!DOCTYPE html>
<html lang="en" class="dark scroll-smooth" dir="ltr">
<head>

    <title>Dark Souls III: Ashes of Ariandel review from _ItzMpz | Stash - games tracker</title>
    <meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2">
<meta name="theme-color" content="#28282d"/>

<link rel="manifest" href="/manifest.json">
<link rel="canonical" href="https://stash.games/games/dark-souls-iii-ashes-of-ariandel/reviews/ItzMpz" />

<link rel="icon" href="/images/favicon/favicon-16x16-0827ac4fcfd7501538c1f2b62d3c8ce5.png" sizes="16x16" type="image/png">
<link rel="icon" href="/images/favicon/favicon-32x32-2f9eb711b46c02d1c54a998de32b9310.png" sizes="32x32" type="image/png">
<link rel="icon" href="/images/favicon/favicon-b6053c88fdad74ddc6d56cb52787e785.ico" type="image/x-icon">
<link rel="shortcut icon" href="/images/favicon/favicon-b6053c88fdad74ddc6d56cb52787e785.ico" type="image/x-icon">


<link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon-0517a6c8e97728a03c98256e0de2702e.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76-bb8c112832a85e10350c0c2f6e8b8d09.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120-5d24873af2e1dcec561095f5dcc1757d.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152-aa2ca63a3ab91ceca4715f4865acc2c7.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon-180x180-ce836f102fb4c95aabbd3204287a01d7.png">


    <meta name="description" content="10/10 | Another god-send expansion :)">
    <meta name="keywords" content="Dark Souls III: Ashes of Ariandel, review, rating">

    <meta property="og:url" content="https://stash.games/games/dark-souls-iii-ashes-of-ariandel/reviews/ItzMpz">
    <meta property="og:title" content="Dark Souls III: Ashes of Ariandel - review from _ItzMpz">
    <!--    <meta property="og:description" th:attr="content=${review.review.comment}">-->
    <meta property="og:description" content="10/10 ★★★★★★★★★★ Another god-send expansion :)">

    <meta property="og:type" content="article">
    <meta property="og:image" content="https://images.igdb.com/igdb/image/upload/t_1080p_2x/co1vwd.webp">

    <!-- Robots index -->
    <meta name="robots" content="noindex, follow"/>


    <!--    schema.org json-ld-->
    <script type="application/ld+json">{"datePublished":"30 Aug 2025","@type":"Review","author":{"@type":"Person","name":"_ItzMpz","sameAs":"https://stash.games/users/ItzMpz"},"publisher":{"@type":"Organization","name":"Stash","sameAs":"https://stash.games"},"description":"Another god-send expansion :)","reviewBody":"Another god-send expansion :)","itemReviewed":{"@type":"VideoGame","name":"Dark Souls III: Ashes of Ariandel","sameAs":"https://stash.games/games/dark-souls-iii-ashes-of-ariandel"},"@context":"https://schema.org","reviewRating":{"bestRating":10,"@type":"Rating","ratingValue":10,"worstRating":1},"url":"https://stash.games/games/dark-souls-iii-ashes-of-ariandel/reviews/ItzMpz"}</script>

    <!-- BreadcrumbList -->
    <script type="application/ld+json">{"itemListElement":[{"item":"https://stash.games","@type":"ListItem","name":"Home","position":1},{"item":"https://stash.games/games/","@type":"ListItem","name":"Games Library","position":2},{"item":"https://stash.games/games/dark-souls-iii-ashes-of-ariandel","@type":"ListItem","name":"Dark Souls III: Ashes of Ariandel","position":3},{"item":"https://stash.games/games/dark-souls-iii-ashes-of-ariandel/reviews","@type":"ListItem","name":"Reviews","position":4},{"item":"https://stash.games/games/dark-souls-iii-ashes-of-ariandel/reviews/ItzMpz","@type":"ListItem","name":"Review by @ItzMpz","position":5}],"@type":"BreadcrumbList","@context":"https://schema.org"}</script>

    <!-- Css -->
    <link rel="preload" as="style" href="/css/tailwind.min-fa8d9758f1030f612b90ce9ebd7e26bf.css" >
<link href="/css/tailwind.min-fa8d9758f1030f612b90ce9ebd7e26bf.css" rel="stylesheet">

<link rel="preload" as="font" type="font/woff2" crossorigin
      href="/fonts/tt-travels-next-trl.bd-90a02f56bc3bc9000f7c6709c5d66bdb.woff2?v=6.5.95">
<!--preload google fonts-->
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" as="style" onload="this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
</noscript>


</head>

<body class=" body ">
<nav id="topnav" class="defaultscroll is-sticky dark-header">
    <div class="container flex justify-between content-center">
        <!-- Logo container-->
        <a class="logo pl-0" href="/">

                <img data-src="/images/logo.svg" class="inline-block dark:hidden h-7 lazyload" alt="stash" height="28" width="92"
                     src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" >
                <img data-src="/images/logo-dark-6e73b18a66c6d0216a7a48daf7bbdee4.svg" class="hidden dark:inline-block h-7 lazyload" alt="stash" height="28"
                     src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="92">

        </a>
        <!-- End Logo container-->
        <div class=" flex  items-center w-full justify-end">
<!--search mobile-->
            
            <!--        use app mobile link -->
        
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <div class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- End mobile menu toggle-->
            </div>
        </div>


        <div id="navigation" class="w-full">
            <!-- Navigation Menu-->
            <ul class="navigation-menu justify-end   lg:mb-0 mb-4">
                <li>
                    <a href="/" class="sub-menu-item  ">Home</a>
                </li>
                <li>
                    <a href="/games/" class="sub-menu-item  ">Games Library</a>
                </li>
                <li>
                    <a href="/events" class="sub-menu-item  ">Events</a>
                </li>
<!--                search icon-->
                <li class=" items-center  hidden lg:flex ">
                    <a href="/search" class="sub-menu-item   ">
<!--                       <i class="fa-solid fa-search text-lg "></i><span class="sr-only">Search</span>-->
<!--                        //todo remove after font icons-->
                        <svg xmlns="http://www.w3.org/2000/svg"   width="24" height="24" fill="none" stroke="#fff" stroke-width="1.5" stroke-linejoin="round"><path d="M11.5 21a9.5 9.5 0 1 0 0-19 9.5 9.5 0 1 0 0 19z"/><path d="M22 22l-2-2" stroke-linecap="round"/></svg>
                        Search Games
                    </a>
                </li>

                <li class="w-1/7"></li>
                <li class="has-submenu parent-menu-item items-center mr-0  flex-wrap hidden lg:flex">
                    <a href="javascript:void(0)"
                       class="btn rounded-full w-full bg-amber-500 text-black hover:bg-amber-600 hover:text-black border-amber-600   min-h-[30px] py-2 cursor-pointer"
                    >Get App</a> <span></span>
                    <ul class="submenu">
                        <li>
                            <a href="https://apps.apple.com/app/id1479450797" class="my-2 block" tabindex="0" target="_blank">
                                <i class="fa-brands fa-apple"></i> Download for iOS
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=io.stashteam.games.tracker.stashapp"
                               class="button__dropdown-item" tabindex="0" target="_blank">
                                <i class="fa-brands fa-google-play"></i> Download for Android
                            </a>
                        </li>



                    </ul>
                </li>



            </ul><!--end navigation menu-->
        </div><!--end navigation-->
        </div>
    </div><!--end container-->
</nav>


<!-- Start -->
<section class="relative pt-28 md:pb-24 pb-16 main-section">
    <div class="container">
        <div class="grid md:grid-cols-12   grid-cols-1 gap-[30px]">
            <div class="lg:col-span-3 md:col-span-4 col-span-12 ">

                <a href="/games/dark-souls-iii-ashes-of-ariandel">
                    <img width="300" height="400" class="rounded-md shadow dark:shadow-gray-700 mx-auto
                    w-1/2 md:w-full"
                         alt="Dark Souls III: Ashes of Ariandel" title="Dark Souls III: Ashes of Ariandel"
                         src="https://images.igdb.com/igdb/image/upload/t_1080p_2x/co1vwd.webp">
                </a>
                <span class="flex justify-between">
<!--                status -->
                    <div class="game__review-status game__review-date rounded-full border flex border-cod-gray-500 py-1 px-3   justify-center items-center">
                        <img src="/images/statuses/beaten-afbf107569d4e4a1bddfff6cd0431a4f.svg"
                             class="rounded-lg  mr-2 ">
                        <span>Beaten</span>
                    </div>
                    <!--                    owned-->
                    
                    <div class="game__review-status game__review-date rounded-full border flex border-cod-gray-500 py-1 px-3   justify-center items-center">
                        <img src="/images/markers/owned-99e444ccf930ff8f7ffb81bb50618f7a.svg" class="mr-2">
                        <div class=" ">Owned</div>
                    </div>
                    </span>

<!--                <div class="md:text-2xl text-xl font-semibold mt-4">-->
<!--                    <a th:href="${@thymeleafPageUrlUtil.game(game.slug)}" class="hover:text-amber-500"-->
<!--                       th:text="${game.getName()}"></a>-->
<!--                </div>-->
                <div class="game__platforms my-3 ">
                    
                        <span class="">PC</span>
                    
                        <span class="">PS4</span>
                    
                        <span class="">XONE</span>
                    

                </div>
            </div><!--end col-->

            <div class=" md:col-span-7 lg:col-span-7 col-span-12 lg:ml-8">
                <h1 class="md:text-2xl text-xl font-semibold mb-2"

                >
                    <span>Dark Souls III: Ashes of Ariandel</span>
                    <br>
                    <span  class="text-md  ">review by</span>
                    <a href="/users/ItzMpz/games" class="text-md underline hover:no-underline">@ItzMpz</a>
                </h1>
                <div class="game__review-item cursor-default dark:hover:bg-cod-gray-900 overflow-visible w-full">
                    <div class="flex justify-between items-center w-full">

                        <a href="/users/ItzMpz/games"
                           class="flex items-center justify-between  ">
                        <span class="flex items-center">
                            <span class="relative">
                                <img width="60" height="60" class="game__review-image lazyload"
                                     alt="ItzMpz"
                                     title="ItzMpz"
                                     data-src="https://stash-games.fra1.digitaloceanspaces.com/logos/40493e41-ca06-439f-b42f-27e922c4584e.jpg"
                                     onerror="this.src=&#39;/images/stash/empty_cover-8c4d69df736b0ecbac41edcd41594b18.png&#39;"
                                     src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
                                
                            </span>
                            <span class="flex flex-col ml-3">
                                <span class="game__review-name">_ItzMpz</span>
                                <span class="game__review-login">@ItzMpz</span>
                            </span>
                        </span>

                        </a>
                        <!-- Rating -->
                        <span class="flex items-center">
                            <i class="fa-solid fa-star text-amber-500 text-[14px]"></i>
                            <span class="game__review-rating">10</span>
                        </span>

                    </div>

                    <div class="game__review-comment game__review-comment--full ">
                        <!--                        -->
                        <!--                        <div th:each="info: ${review.review.extraInfoList}">-->
                        <!--                            <div th:replace="${info.templateFullPath}"></div>-->
                        <!--                        </div>-->

                        <!--                        <br/>-->
                        <!--                        -->
                        <!--                        <div th:each="marker: ${review.review.markers}">-->
                        <!--                            <img th:src="${marker.iconFullPath}">-->
                        <!--                            <div th:text="${marker.key}"></div>-->
                        <!--                            <div th:text="${marker.name}"></div>-->
                        <!--                        </div>-->
                        <!--                        -->
                        <p>Another god-send expansion :)</p>
                    </div>
                    <div class="read-more    border rounded-full text-center">More</div>


                    

                    <!-- Full img modal -->
                    <div id="fullImg" class="full-img__modal" onclick="closeModal()">
                        <span class="full-img__close" onclick="closeModal()">&times;</span>
                        <img class="full-img__modal-content" id="modalImage">
                    </div>


                    <div class="flex justify-start flex-wrap">
                        <!-- Platforms -->
                        

                        
                        <!-- External Link -->
                        
                    </div>


                    <div class="flex justify-between flex-wrap">
                        <!-- Date -->
                        <div class="game__review-date ">30 Aug 2025</div>
                        <!-- Markers -->
                        <div class="game__review-date flex   mr-2 justify-center  items-center">
                            <img src="/images/markers/completionists-3356b886830775c5945eb5d07749e9b1.svg" class="mr-1">
                            <div class=" ">100% completion</div>
                        </div>
                        


                    </div>
                    <div class="game__review-bottom grid grid-cols-[auto_auto_1fr]">
                        <div class="game__review-likes-block justify-self-start">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <span class="game__review-likes  ">1</span>
                        </div>

                        <div class="game__review-likes-block justify-self-start">
                            <i class="fa-regular fa-comment"></i>
                            <span class="game__review-likes ">0</span>
                        </div>
                        <!-- Share -->
                        <div class="share-block ml-3 relative cursor-pointer justify-self-end  self-center  ">
    <svg class="btn__share" width="19" height="22" viewBox="0 0 19 22" fill="none">
        <path d="M11.9781 5.87188L6.52188 9.37812M6.52188 12.6219L11.9781 16.1281M7 11C7 12.6569 5.65685 14 4 14C2.34315 14 1 12.6569 1 11C1 9.34315 2.34315 8 4 8C5.65685 8 7 9.34315 7 11ZM17.5 17.75C17.5 19.4069 16.1569 20.75 14.5 20.75C12.8431 20.75 11.5 19.4069 11.5 17.75C11.5 16.0931 12.8431 14.75 14.5 14.75C16.1569 14.75 17.5 16.0931 17.5 17.75ZM17.5 4.25C17.5 5.90685 16.1569 7.25 14.5 7.25C12.8431 7.25 11.5 5.90685 11.5 4.25C11.5 2.59315 12.8431 1.25 14.5 1.25C16.1569 1.25 17.5 2.59315 17.5 4.25Z"
              stroke="#656565" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <div class="share ">
        <div class="share__backdrop"></div>
        <div class="share__wrap">
            <div class="share__content dark:bg-gray-700 overflow-hidden h-auto">
                <a href="https://twitter.com/share?&amp;url=https://stash.games/games/dark-souls-iii-ashes-of-ariandel/reviews/ItzMpz"
                   target="_blank" class="share__item tw">
                    <span class="share__item_icon ">
                        <i class="fa-brands fa-twitter"></i>
                    </span>
                    <span class="share__item_text">Twitter</span>
                </a>
                <a href="http://www.facebook.com/sharer.php?u=https://stash.games/games/dark-souls-iii-ashes-of-ariandel/reviews/ItzMpz"
                   target="_blank"
                   class="share__item fb">
                    <span class="share__item_icon ">
                        <i class="fa-brands fa-facebook-f"></i>
                    </span>
                    <span class="share__item_text">Facebook</span>
                </a>
                <div class="share__item link" id="copy-button">

                    <div class="share__item_icon m_link" >
                        <i class="fa-solid fa-link"></i>
                    </div>
                    <span class="share__item_text">Copy link</span>
                </div>
                <script>
                    // знаходимо кнопку на сторінці
                    const copyButton = document.querySelector('#copy-button');

                    // додаємо обробник події на клік по кнопці
                    copyButton.addEventListener('click', () => {
                        // копіюємо поточний URL до буферу обміну
                        navigator.clipboard.writeText(window.location.href)
                            .then(() => {
                                console.log('URL copied to clipboard');
                            })
                            .catch((err) => {
                                console.error('Failed to copy URL to clipboard: ', err);
                            });
                    });
                </script>

            </div>
        </div>
    </div>
</div>


                    </div>


                </div>


            </div><!--end col-->


            <div id="items-holder" class="comment__list col-span-12">
                <div>
</div>

            </div>


        </div>
        <div id="more_btn" class="more-btn flex md:w-1/4 w-1/2">
            Load more
        </div>
        <!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->


<script>
    var offset = document.querySelectorAll('.comment__item').length;
    var limit = 20;

    // console.log(offset)
    const showLoadMore = () => {
        const gameReviewItems = document.querySelectorAll('.comment__item');
        const moreBtn = document.getElementById('more_btn');

        if (gameReviewItems.length < offset || limit > offset) {
            moreBtn.classList.add('hidden');
        } else {
            moreBtn.classList.remove('hidden');
        }
    };

    const fetchReviewsPage = () => {
        fetch(window.location.pathname + '/items?' + new URLSearchParams({
            offset: offset,
            limit: limit,
            'sort.field': 'DATE_ADDED',
            'sort.direction': 'ASC',
        })).then(function (response) {
            return response.text();
        }).then(function (html) {
            var content = document.getElementById("items-holder");
            content.innerHTML = content.innerHTML + html;
            offset = offset + limit;
            showLoadMore();
        }).catch(function (err) {
            console.warn('Something went wrong.', err);
        });
    };

    showLoadMore();

    document.getElementById("more_btn").onclick = fetchReviewsPage;


</script>

<footer class="footer bg-dark-footer relative     mt-24">
    <!-- Back to top -->
    <div onclick="topFunction()" id="back-to-top"
       class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 right-5 h-9 w-9 text-center bg-amber-500   leading-9">
        <i class="fa-solid fa-arrow-up"></i></div>

    <div class="container">
        <div class="grid grid-cols-1 relative py-16 overflow-hidden">

                <div class="grid md:grid-cols-12 grid-cols-1 gap-[50px] mt-4">
                    <div class="md:col-span-4 col-span-12 lg:mr-10">
                        <a href="/" class="text-[22px] focus:outline-none">
                            <img data-src="/images/logo-dark-6e73b18a66c6d0216a7a48daf7bbdee4.svg" alt="stash games" class="max-w-[200px] lazyload"
                                 src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                 width="168" height="50">
                        </a>
                        <div class="flex gap-[12px]   mt-10  ">
                            <a href="https://play.google.com/store/apps/details?id=io.stashteam.games.tracker.stashapp"
                               class="hover:opacity-80 ">
                                <img src="/images/stash/gp-703765ec5490dd2aa93e3660dffbd22d.webp"  class="rounded-xl" alt="stash google play" width="168" height="56"
                                     loading="lazy">
                            </a>
                            <a href="https://apps.apple.com/app/id1479450797"
                               class="hover:opacity-80">
                                <img src="/images/stash/as-f1adfe3bae31a0d191e4931295c88e5f.webp"  class="rounded-xl" alt="stash app stote" width="168" height="56"
                                     loading="lazy">
                            </a>
                        </div>
                        <ul class="list-none mt-10 gap-[12px] grid grid-cols-12 md:grid-cols-6 ">
                            <li class="inline">
                                <a href="https://facebook.com/StashApp-122231719167474" target="_blank"
                                                  class="btn btn-icon btn-md border border-cod-gray-800 rounded-md
                                                        hover:bg-cod-gray-800">
                                <i class=" fa-brands fa-facebook  text-xl" title="facebook"></i></a></li>
                            <li class="inline"><a href="https://instagram.com/stashgames" target="_blank"
                                  class="btn btn-icon btn-md border border-cod-gray-800 rounded-md
                                                        hover:bg-cod-gray-800">
                                <i class="fa-brands fa-instagram  text-xl" title="instagram"></i></a></li>
                            <li class="inline"><a href="https://twitter.com/StashTrackGames" target="_blank"
                                  class="btn btn-icon btn-md border border-cod-gray-800 rounded-md
                                                        hover:bg-cod-gray-800">
                                <i class="fa-brands fa-x-twitter  text-xl" title="twitter"></i></a></li>
                            <li class="inline">
                                <a href="https://www.tiktok.com/@stashgamestracker" target="_blank"
                                   class="btn btn-icon btn-md border border-cod-gray-800 rounded-md
                                                        hover:bg-cod-gray-800">
                                <i class="fa-brands fa-tiktok  text-xl" title="tiktok"></i></a></li>
                            <li class="inline">
                                <a href="https://www.youtube.com/@stash_games" target="_blank"
                                   class="btn btn-icon btn-md border border-cod-gray-800 rounded-md hover:bg-cod-gray-800">
                                    <i class="fa-brands fa-youtube text-xl" title="youtube"></i></a></li>

                        </ul><!--end icon-->

                    </div><!--end col-->


                    <div class="  md:col-span-4 sm:col-span-6 col-span-12">

                            <div class="text-lg font-semibold">Contact Details</div>

                            <div class="flex mt-6 items-center">
                                <i class="fa-solid fa-envelope  text-amber-500 mr-3 mt-1"></i>

                                    <a href="mailto:info@stash.games"
                                       class="text-md  hover:text-gray-400 duration-500 ease-in-out">info@stash.games</a>

                            </div>

                        </div><!--end col-->

                    <div class="  md:col-span-4 sm:col-span-6 col-span-12">

                        <div class="text-lg   font-semibold">Usefull Links</div>
                        <ul class="list-none footer-list mt-6">
                            <li class="mt-[10px]"><a href="/terms"
                                                     class="text-md hover:text-gray-400 duration-500 ease-in-out"><i
                                    class="fa-solid fa-angle-right mr-2"></i> Terms & Condition</a></li>
                            <li class="mt-[10px]"><a href="/privacy"
                                                     class="text-md   hover:text-gray-400 duration-500 ease-in-out"><i
                                    class="fa-solid fa-angle-right mr-2"></i> Privacy policy</a></li>
                        </ul>


                    </div><!--end col-->
                </div><!--end grid-->
            </div>



    </div><!--end container-->

    <div class="py-[35px]   bg-dark  ">
        <div class="container text-center">
            <div class="grid md:grid-cols-2 items-center gap-6">
                <div class="md:text-left text-center">
                    <p class="  ">© <span id="currentYear"></span>

                        <script>
                            var currentDate = new Date();
                            var currentYear = currentDate.getFullYear();
                            var currentYearElement = document.getElementById('currentYear');
                            currentYearElement.textContent = currentYear;
                        </script>
                        Stash. Design with <i class="fa-solid fa-heart "></i></p>
                </div>



                <div class="md:text-right text-center">
                    <p class="">Games metadata is powered by <a href="https://igdb.com"
                                                                                     target="_blank" class="text-amber-600 hover:text-amber-700">IGDB.com</a>
                    </p>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer>

<!--<div th:replace="${@environment.getProperty('thymleaf.allow-printing-variables') == 'true'} ? ~{fragments/varsprint} : ~{}"></div>-->


<!-- Back to top -->
<!--popup browser/app-->




<!-- JAVASCRIPTS -->


<script async src="/libs/@fortawesome/fontawesome-free/js/solid.min-38af77110fa9828ab5ec4b17ca00474b.js"></script>
<script async src="/libs/@fortawesome/fontawesome-free/js/regular.min-e0a9f5d2380a2133a4e106c355e09bf8.js"></script>
<script async src="/libs/@fortawesome/fontawesome-free/js/brands.min-6670ced6d5e8592b8f63c622c2d51c0a.js"></script>
<script async src="/libs/@fortawesome/fontawesome-free/js/fontawesome.min-ded68f610e8df99ac2618378476bc2a8.js"></script>
<script src="/libs/lazysizes/lazysizes.min-0751dc337cca55b84518ea36d0ec3d31.js"></script>
<script src="/js/plugins.init-0bcb4dafb4892b6b57e8a183df82acca.js" defer></script>

<script src="/js/app-ac045926bd1f98fdb1074532c441ba37.js"></script>

<script src="/js/share-4e9f45286fc066912753e96494ce2eda.js"></script>
<!-- JAVASCRIPTS -->
</body>
</html>
